@import "tailwindcss";
@source "../";
/* Scan the root apps/web directory */

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #f4f4f5;
}

::-webkit-scrollbar-thumb {
    background: #d4d4d8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #eb5624;
}

/* RTL/LTR Transition */
html {
    transition: direction 0.3s ease-in-out;
}

body {
    background-color: #f4f4f5;
    color: #18181b;
    overflow-x: hidden;
}